<ng-template #modal let-modal >
    
  <div class="modal-header" style="background-color: rgb(66, 164, 255);">

    <div class="modal-title" id="modal-add" style="display: flex; flex-direction: row;">
        <i [ngClass]="state === 'add' ? 'fa fa-user-plus' : 'fa fa-pencil-square-o'" aria-hidden="true" style="font-weight: bold; align-self: center; padding-right: 10px; font-size: 24px;"></i>
        <span class="modal-title" style="font-weight: bold; font-size: 18px;">{{state === 'add' ? 'Új felhasználó hozzáadása' : 'Felhasználó szerkesztése' }}</span>
    </div>

  </div>

  <div class="modal-body">
    <form id="userFormId" [formGroup]="userForm" (ngSubmit)="userForm.valid && this.userForm.dirty && save();" class="w-100" style="text-align: center;" ngbAutofocus>
        <!-- Felhasználónév -->
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Felhasználónév</mat-label>
            <input formControlName="username" matInput #username autocomplete="off" required (focus)="onFocus('username');" (blur)="onBlur('username');">

            <mat-error *ngIf="userFormControls.username.hasError('required')">
                A felhasználónév kitöltése kötelező!
            </mat-error>

            <mat-error *ngIf="userFormControls.username.hasError('minlength') || userFormControls.username.hasError('maxlength')">
                A felhasználónév 6-20 karakter között kell legyen!
            </mat-error>

            <mat-error *ngIf="userFormControls.username.hasError('notUnique')">
                A felhasználónév foglalt!
            </mat-error>
            
            <mat-hint class="hint-right">{{username.value.length}} / 20</mat-hint>
        </mat-form-field>

        <!-- Jelszó -->
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>{{state === 'add' ? 'Jelszó' : 'Új jelszó' }}</mat-label>
            <input formControlName="password" matInput #password="matInput" autocomplete="off" [type]="isPassVisible ? 'text' : 'password'" [required]="this.state !== 'edit'" (focus)="onFocus('password');" (blur)="onBlur('password');">
            <span matSuffix>
                <i [ngClass]="isPassVisible ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="isPassVisible = !isPassVisible;" style="font-size: 16px; color: rgb(224, 224, 224); cursor: pointer;" [ngStyle]="{'color': password.focused ? 'rgb(0, 0, 0)' : 'rgb(224, 224, 224)'}" aria-hidden="true"></i>
            </span>

            <mat-error *ngIf="userFormControls.password.hasError('required')">
                A jelszó kitöltése kötelező!
            </mat-error>

            <mat-error *ngIf="userFormControls.password.hasError('minlength') || userFormControls.password.hasError('maxlength')">
                A jelszó 6-20 karakter között kell legyen!
            </mat-error>

            <mat-hint class="hint-right">{{password.value.length}} / 20</mat-hint>
        </mat-form-field>

        <!-- Szerepkör -->
        <div style="display: flex; flex-direction: column; width: 300px; text-align: left; margin: auto; padding-bottom: 5px;">
            <span style="font-size: 13px; padding-left: 12px;">Szerepkör</span>
            <mat-radio-group formControlName="role"
                             aria-labelledby="role-radio-group-label"
                             style="padding-left: 12px; padding-top: 5px;">
                <mat-radio-button value="user">Felhasználó</mat-radio-button>
                <mat-radio-button value="admin" style="padding-left: 20px;">Admin</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Titulus -->
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Titulus</mat-label>
            <input formControlName="title" matInput #title autocomplete="off" (focus)="onFocus('title');" (blur)="onBlur('title');">

            <mat-error *ngIf="userFormControls.title.hasError('maxlength')">
                A titulus maximum 20 karakter lehet!
            </mat-error>

            <mat-hint class="hint-right">{{title.value.length}} / 20</mat-hint>
        </mat-form-field>

        <!-- Vezetéknév -->
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Vezetéknév</mat-label>
            <input formControlName="lastname" matInput #lastname autocomplete="off" required (focus)="onFocus('lastname');" (blur)="onBlur('lastname');">

            <mat-error *ngIf="userFormControls.lastname.hasError('required')">
                A vezetéknév kitöltése kötelező!
            </mat-error>

            <mat-error *ngIf="userFormControls.lastname.hasError('maxlength')">
                A vezetéknév maximum 20 karakter lehet!
            </mat-error>

            <mat-hint class="hint-right">{{lastname.value.length}} / 20</mat-hint>
        </mat-form-field>

        <!-- Középső név -->
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Középső név</mat-label>
            <input formControlName="middlename" matInput #middlename autocomplete="off" (focus)="onFocus('middlename');" (blur)="onBlur('middlename');">

            <mat-error *ngIf="userFormControls.middlename.hasError('maxlength')">
                A középső név maximum 15 karakter lehet!
            </mat-error>

            <mat-hint class="hint-right">{{middlename.value.length}} / 15</mat-hint>
        </mat-form-field>

        <!-- Keresztnév -->
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Keresztnév</mat-label>
            <input formControlName="firstname" matInput #firstname autocomplete="off" required (focus)="onFocus('firstname');" (blur)="onBlur('firstname');">

            <mat-error *ngIf="userFormControls.firstname.hasError('required')">
                A keresztnév kitöltése kötelező!
            </mat-error>

            <mat-error *ngIf="userFormControls.firstname.hasError('maxlength')">
                A keresztnév maximum 15 karakter lehet!
            </mat-error>

            <mat-hint class="hint-right">{{firstname.value.length}} / 15</mat-hint>
        </mat-form-field>
        
        <!-- Telefonszám -->
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Telefonszám</mat-label>
            <input formControlName="telephone" matInput #telephone autocomplete="off" type="tel" (focus)="onFocus('telephone');" (blur)="onBlur('telephone');">

            <mat-error *ngIf="userFormControls.telephone.hasError('pattern')">
                A telefonszám formátuma nem megfelelő!
            </mat-error>

            <mat-hint class="hint-right">
                <i class="fa fa-info-circle" aria-hidden="true" placement="top" ngbTooltip="Pl.: +36 70 123 4567" container="body"></i>
            </mat-hint>
        </mat-form-field>

        <!-- E-mail -->
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>E-mail cím</mat-label>
            <input formControlName="email" matInput #email autocomplete="off" type="email" (focus)="onFocus('email');" (blur)="onBlur('email');">

            <mat-error *ngIf="userFormControls.email.hasError('pattern')">
                Az e-mail formátuma nem megfelelő!
            </mat-error>

            <mat-hint class="hint-right">
                <i class="fa fa-info-circle" aria-hidden="true" placement="top" ngbTooltip="Pl.: email@example.com" container="body"></i>
            </mat-hint>
        </mat-form-field>

    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" form="userFormId" [disabled]="!userForm.valid || !this.userForm.dirty" class="btn btn-success" style="outline: none;">Mentés</button>
    <button type="button" class="btn btn-secondary" style="outline: none;" (click)="modal.dismiss()">Bezárás</button>
  </div>
</ng-template>

