<ng-template #modal let-modal >
    
  <div class="modal-header">

    <div class="modal-title d-flex flex-row" id="modal-user">
        <i [ngClass]="state === 'add' ? 'fa fa-user-plus' : 'fa fa-pencil-square-o'" aria-hidden="true"></i>
        <span>{{state === 'add' ? 'Új felhasználó hozzáadása' : 'Felhasználó szerkesztése' }}</span>
    </div>

  </div>

  <div class="modal-body">
    <form id="userFormId" [formGroup]="userForm" (ngSubmit)="userForm.valid && this.userForm.dirty && save();" class="w-100 text-center" ngbAutofocus>

        <!-- Felhasználónév -->
        <mat-form-field appearance="outline" [ngStyle]="{'padding-bottom': calcPadding('username') }">
            <mat-label>Felhasználónév</mat-label>
            <input formControlName="username" matInput #username autocomplete="off" required (keypress)="onKeyPress($event, 'username');">

            <mat-error *ngIf="userFormControls.username.hasError('required')">
                A felhasználónév kitöltése kötelező!
            </mat-error>

            <mat-error *ngIf="userFormControls.username.hasError('minlength') || userFormControls.username.hasError('maxlength')">
                A felhasználónév 6-20 karakter hosszú lehet!
            </mat-error>

            <mat-error *ngIf="userFormControls.username.hasError('notUnique')">
                A felhasználónév foglalt!
            </mat-error>

            <mat-error *ngIf="userFormControls.username.hasError('pattern')">
                A felhasználónév csak ékezet nélküli betűket és számokat tartalmazhat!
            </mat-error>
            
            <mat-hint class="hint-right">{{username.value.length}} / 20</mat-hint>
        </mat-form-field>

        <!-- Jelszó -->
        <mat-form-field appearance="outline" [ngStyle]="{'padding-bottom': calcPadding('password') }">
            <mat-label>{{state === 'add' ? 'Jelszó' : 'Új jelszó' }}</mat-label>
            <input formControlName="password" matInput #password="matInput" autocomplete="off" [type]="isPassVisible ? 'text' : 'password'" [required]="this.state !== 'edit'" (keypress)="onKeyPress($event, 'password');">
            <span matSuffix>
                <i id="pass-eye" [ngClass]="isPassVisible ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="isPassVisible = !isPassVisible;" [ngStyle]="{'color': password.focused ? 'rgb(0, 0, 0)' : 'rgb(224, 224, 224)'}" aria-hidden="true"></i>
            </span>

            <mat-error *ngIf="userFormControls.password.hasError('required')">
                A jelszó kitöltése kötelező!
            </mat-error>

            <mat-error *ngIf="userFormControls.password.hasError('minlength') || userFormControls.password.hasError('maxlength')">
                A jelszó 6-20 karakter hosszú lehet!
            </mat-error>

            <mat-error *ngIf="userFormControls.password.hasError('pattern')">
                A jelszó csak betűket, számokat és @$!%*#?& karaktereket tartalmazhat!
            </mat-error>

            <mat-hint class="hint-right">{{password.value.length}} / 20</mat-hint>
        </mat-form-field>

        <!-- Szerepkör -->
        <div id="role-form-field" class="d-flex flex-column text-left mx-auto">
            <span>Szerepkör</span>
            <mat-radio-group formControlName="role"
                             aria-labelledby="role-radio-group-label">
                <mat-radio-button value="user">Felhasználó</mat-radio-button>
                <mat-radio-button value="admin">Admin</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Titulus -->
        <mat-form-field appearance="outline" [ngStyle]="{'padding-bottom': calcPadding('title') }">
            <mat-label>Titulus</mat-label>
            <input formControlName="title" matInput #title autocomplete="off" (keypress)="onKeyPress($event, 'title');">

            <mat-error *ngIf="userFormControls.title.hasError('maxlength')">
                A titulus maximum 20 karakter lehet!
            </mat-error>

            <mat-error *ngIf="userFormControls.title.hasError('pattern')">
                A titulus csak betűket, szóközt és .- karaktereket tartalmazhat!
            </mat-error>

            <mat-hint class="hint-right">{{title.value.length}} / 20</mat-hint>
        </mat-form-field>

        <!-- Vezetéknév -->
        <mat-form-field appearance="outline" [ngStyle]="{'padding-bottom': calcPadding('lastname') }">
            <mat-label>Vezetéknév</mat-label>
            <input formControlName="lastname" matInput #lastname autocomplete="off" required (keypress)="onKeyPress($event, 'lastname');">

            <mat-error *ngIf="userFormControls.lastname.hasError('required')">
                A vezetéknév kitöltése kötelező!
            </mat-error>

            <mat-error *ngIf="userFormControls.lastname.hasError('maxlength')">
                A vezetéknév maximum 20 karakter lehet!
            </mat-error>

            <mat-error *ngIf="userFormControls.lastname.hasError('pattern')">
                A vezetéknév csak betűket, szóközt és .- karaktereket tartalmazhat!
            </mat-error>

            <mat-hint class="hint-right">{{lastname.value.length}} / 20</mat-hint>
        </mat-form-field>

        <!-- Középső név -->
        <mat-form-field appearance="outline" [ngStyle]="{'padding-bottom': calcPadding('middlename') }">
            <mat-label>Középső név</mat-label>
            <input formControlName="middlename" matInput #middlename autocomplete="off" (keypress)="onKeyPress($event, 'middlename');">

            <mat-error *ngIf="userFormControls.middlename.hasError('maxlength')">
                A középső név maximum 15 karakter lehet!
            </mat-error>

            <mat-error *ngIf="userFormControls.middlename.hasError('pattern')">
                A középső név csak betűket, szóközt és .- karaktereket tartalmazhat!
            </mat-error>

            <mat-hint class="hint-right">{{middlename.value.length}} / 15</mat-hint>
        </mat-form-field>

        <!-- Keresztnév -->
        <mat-form-field appearance="outline" [ngStyle]="{'padding-bottom': calcPadding('firstname') }">
            <mat-label>Keresztnév</mat-label>
            <input formControlName="firstname" matInput #firstname autocomplete="off" required (keypress)="onKeyPress($event, 'firstname');">

            <mat-error *ngIf="userFormControls.firstname.hasError('required')">
                A keresztnév kitöltése kötelező!
            </mat-error>

            <mat-error *ngIf="userFormControls.firstname.hasError('maxlength')">
                A keresztnév maximum 15 karakter lehet!
            </mat-error>

            <mat-error *ngIf="userFormControls.firstname.hasError('pattern')">
                A keresztnév csak betűket, szóközt és .- karaktereket tartalmazhat!
            </mat-error>

            <mat-hint class="hint-right">{{firstname.value.length}} / 15</mat-hint>
        </mat-form-field>
        
        <!-- Telefonszám -->
        <mat-form-field appearance="outline" [ngStyle]="{'padding-bottom': calcPadding('telephone') }">
            <mat-label>Telefonszám</mat-label>
            <input formControlName="telephone" matInput #telephone placeholder="+36 70 123 4567" autocomplete="off" type="tel" (keypress)="onTelKeyPress($event);">

            <mat-error *ngIf="userFormControls.telephone.hasError('pattern')">
                A telefonszám formátuma nem megfelelő!
            </mat-error>

            <mat-hint class="hint-right">
                <i class="fa fa-info-circle" aria-hidden="true" placement="top" ngbTooltip="Pl.: +36 70 123 4567" container="body"></i>
            </mat-hint>
        </mat-form-field>

        <!-- E-mail -->
        <mat-form-field appearance="outline" [ngStyle]="{'padding-bottom': calcPadding('email') }">
            <mat-label>E-mail cím</mat-label>
            <input formControlName="email" matInput #email placeholder="email@example.com" autocomplete="off" type="email" (keypress)="onKeyPress($event);">

            <mat-error *ngIf="userFormControls.email.hasError('pattern')">
                Az e-mail formátuma nem megfelelő!
            </mat-error>

            <mat-hint class="hint-right">
                <i class="fa fa-info-circle" aria-hidden="true" placement="top" ngbTooltip="Pl.: email@example.com" container="body"></i>
            </mat-hint>
        </mat-form-field>
    </form>
  </div>
  <div class="modal-footer">
    <button type="submit" form="userFormId" [disabled]="!userForm.valid || !this.userForm.dirty" class="btn btn-success">Mentés</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Bezárás</button>
  </div>
</ng-template>

