.choices-container {
    position: absolute; 
    top:0px; 
    left: 0px; 
    font-size: 14px;
    z-index: 1;
    min-width: 100%;
    width: max-content;
    margin-right: 100%;
    background: white;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px; 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    min-height: 20px;
    overflow-y: auto;
    box-shadow: 3px 7px 10px #7a7a7a;
}

.choices-item {
    height: 20px;
    text-align: left;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.choices-item:hover {
    background: rgb(170, 211, 247);
}
    
    
.selected, .selected:hover {
    color: white;
    background: rgb(60, 132, 194);
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.not-found {
    font-size: 12px;
    height: 20px;
    text-align: left;
    margin-left: 2px;
    padding-top: 3px;
    margin-bottom: 2px;
    margin-right: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 3px;
}

i {
    color: rgb(255, 166, 0);
}