<ng-template #confirmModal let-modal>
    <div class="modal-header">

        <div class="modal-title d-flex flex-row" id="modal-confirm">
            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
            <span>{{confirmModalTitle}}</span>
        </div>

    </div>

    <div class="modal-body" ngbAutofocus>
        <div id="global-modal-content">{{confirmModalContent}}</div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close(true)">Igen</button>
        <button type="button" class="btn btn-primary" (click)="modal.close(false)">Nem</button>
    </div>
</ng-template>

<ng-template #infoModal let-modal>
    <div class="modal-header">

        <div class="modal-title d-flex flex-row" id="modal-info">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <span>{{infoModalTitle}}</span>
        </div>

    </div>

    <div class="modal-body" ngbAutofocus>
        <div id="global-modal-content">{{infoModalContent}}</div>
        <div *ngIf="infoModalAdditionalContent" id="global-modal-content">{{infoModalAdditionalContent}}</div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="modal.close()">Oké</button>
    </div>
</ng-template>

<ng-template #errorModal let-modal>
    <div class="modal-header">

        <div class="modal-title d-flex flex-row" id="modal-error">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <span>Hiba</span>
        </div>

    </div>

    <div class="modal-body" ngbAutofocus>
        <div id="global-modal-content">{{errorModalContent}}</div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Oké</button>
    </div>
</ng-template>


<ng-template #warningModal let-modal>
    <div class="modal-header">

        <div class="modal-title d-flex flex-row" id="modal-warning">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span>Figyelem</span>
        </div>

    </div>

    <div class="modal-body" ngbAutofocus>
        <div id="global-modal-content">{{warningModalContent}}</div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Oké</button>
    </div>
</ng-template>