<comment-box    [isDisabled]="!isEditable" 
                #commentbox 
                (update)="updateComment($event);"></comment-box>
                
<div class="calendar-container">
    <div class="calendar-slider p-2">
        <div class="calendar-slider-left">
           <i  class="fa fa-arrow-left pr-2 cursor-pointer arrow" 
               (click)="changeMonth('previous')"
               aria-hidden="true"></i>
        </div>
        <div class="calendar-slider-period">
               {{period}}
        </div>
        <div class="calendar-slider-right">
            <div class="w-50">
                <i  class="fa fa-arrow-right pl-2 cursor-pointer arrow" 
                    (click)="changeMonth('next')"
                    aria-hidden="true"></i>
            </div>
           <div class="save-container">
                <span class="save" 
                    (click)="saveCalendar();"
                    [ngClass]="isCalSavable() && isCalendarDataChanged() ? 'save-valid' : 'save-disabled'"></span>
           </div>
        </div>
    </div>
    <div class="header" #header>
        <div class="date-header-cell-w">
            Dátum
        </div>
        <div class="working-time-header-cell-w">
            Munkaidő
        </div>
        <div [ngStyle]="{'width': comboColWidth+'px'}">
            Projekt
        </div>
        <div [ngStyle]="{'width': comboColWidth+'px'}">
            Tervfázis
        </div>
        <div [ngStyle]="{'width': comboColWidth+'px'}">
            Szerkezeti&nbsp;elem
        </div>
        <div [ngStyle]="{'width': comboColWidth+'px'}">
            Részfeladat
        </div>
        <div class="comment-header-cell-w">
            Megjegyzés
        </div>
        <div class="modify-header-cell-w">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
    </div>
    <div class="calendar-content">
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr *ngFor="let dayData of daysOfMonth; last as isLast;" 
                    [ngStyle]="{'background-color': dayData.backgroundColor}">
                    <!-- Dátum cella -->
                    <td class="date-cell date-cell-w"
                        [ngClass]="isLast ? 'last-tr-left' : ''">
                        <div class="day" 
                             [ngStyle]="dayData.name === 'szombat' 
                                ? { 'background-color': 'rgb(130, 130, 130)', 'color': 'rgb(245, 245, 245)', 'font-weight': 'bold', 'text-shadow': '0px 0px 5px rgb(0, 0, 0)' } 
                                : dayData.name === 'vasárnap' 
                                    ? { 'background-color': 'rgb(130, 130, 130)', 'color': 'rgb(237, 2, 2)', 'font-weight': 'bold', 'text-shadow': '0px 0px 5px rgb(0, 0, 0)' } 
                                    : {}"
                             [ngClass]="isLast ? 'last-tr-left' : ''">
                            <div class="day-number">{{dayData.number | twoDigitNumber}}.</div>
                            <div class="day-name">{{dayData.name}}</div>
                        </div>
                    </td>
                    <!-- Munkaidő cella -->
                    <td class="working-time-cell-w">
                        <table>
                            <tr *ngFor="let cellData of calendarViewData[dayData.number]; index as dataRowIndex;">
                                <td>
                                    <div>
                                        <formatted-time value="{{cellData.workingTime}}"
                                                        [dataPosition]="{'dayNumber': dayData.number, 'dataIndex': dataRowIndex}"
                                                        [isDisabled]="!isEditable"
                                                        (update)="updateWorkingTime($event, dayData.number, dataRowIndex);">
                                        </formatted-time>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Projekt cella -->
                    <td>
                        <table style="height: 100%;">
                            <tr *ngFor="let cellData of calendarViewData[dayData.number]; index as dataRowIndex;">
                                <td>
                                    <div>
                                        <combo-box  #projectComboList
                                                    [comboWidth]="comboColWidth*0.95"
                                                    [isDisabled]="!isEditable"
                                                    [chosen]="cellData.project"
                                                    [choices]="projectList"
                                                    [isRequired]="false"
                                                    (update)="updateCombo('project', $event, dayData.number, dataRowIndex);"></combo-box>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Tervfázis cella -->
                    <td>
                        <table>
                            <tr *ngFor="let cellData of calendarViewData[dayData.number]; index as dataRowIndex;">
                                <td>
                                    <div>
                                        <combo-box  #designPhaseComboList
                                                    [comboWidth]="comboColWidth*0.95"
                                                    [isDisabled]="!isEditable"
                                                    [chosen]="cellData.designPhase"
                                                    [choices]="designPhaseList"
                                                    [isRequired]="false"
                                                    (update)="updateCombo('designPhase', $event, dayData.number, dataRowIndex);"></combo-box>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Szerkezeti elem cella -->
                    <td >
                        <table>
                            <tr *ngFor="let cellData of calendarViewData[dayData.number]; index as dataRowIndex;">
                                <td>
                                    <div>
                                        <combo-box  [comboWidth]="comboColWidth*0.95"
                                                    [isDisabled]="!isEditable"
                                                    [chosen]="cellData.structuralElement"
                                                    [choices]="structuralElementList"
                                                    [isRequired]="false"
                                                    (update)="updateCombo('structuralElement', $event, dayData.number, dataRowIndex);"></combo-box>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Részfeladat cella -->
                    <td >
                        <table>
                            <tr *ngFor="let cellData of calendarViewData[dayData.number]; index as dataRowIndex;">
                                <td>
                                    <div>
                                        <combo-box  [comboWidth]="comboColWidth*0.95"
                                                    [isDisabled]="!isEditable"
                                                    [chosen]="cellData.subtask"
                                                    [choices]="subtaskList"
                                                    [isRequired]="false"
                                                    (update)="updateCombo('subtask', $event, dayData.number, dataRowIndex);"></combo-box>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Megjegyzés cella -->
                    <td class="comment-cell-w">
                        <table>
                            <tr *ngFor="let cellData of calendarViewData[dayData.number]; index as dataRowIndex;">
                                <td>
                                    <div *ngIf="cellData.comment && cellData.length != 0">
                                        <i  [ngClass]="isEditable ? 'cursor-pointer' : ''"
                                            class="fa fa-comment" 
                                            aria-hidden="true"
                                            (mouseenter)="previewComment($event, dayData.number, dataRowIndex);" 
                                            (mouseleave)="hideComment();"
                                            (click)="editComment($event, dayData.number, dataRowIndex);"></i>
                                    </div>
                                    <div *ngIf="!cellData.comment || cellData.length == 0">
                                        <i  [ngClass]="isEditable ? 'cursor-pointer' : ''"
                                            class="fa fa-comment-o" 
                                            aria-hidden="true"
                                            (click)="editComment($event, dayData.number, dataRowIndex);"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Szerkesztés cella -->
                    <td class="modify-cell modify-cell-w"
                        [ngClass]="isLast ? 'last-tr-right' : ''">
                        <table>
                            <tr *ngFor="let cellData of calendarViewData[dayData.number]; index as dataRowIndex; last as isLastRow; count as rowCount;">
                                <td>
                                    <div class="modify">
                                        <div class="m-auto modify-add cursor-pointer" 
                                                [ngClass]="!isEditable || !isLastRow || (cellData.workingTime === '00:00' && !cellData.project && !cellData.designPhase && !cellData.structuralElement && !cellData.subtask && !cellData.comment) || rowCount === 10 ? 'modify-disabled' : ''"
                                                (click)="!isEditable || !isLastRow || (cellData.workingTime === '00:00' && !cellData.project && !cellData.designPhase && !cellData.structuralElement && !cellData.subtask && !cellData.comment) || rowCount === 10 ? null : addEmptyRow(dayData.number);">
                                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="m-auto modify-delete cursor-pointer"
                                                [ngClass]="!isEditable || rowCount === 1 ? 'modify-disabled' : ''"
                                                (click)="!isEditable || rowCount === 1 ? null : deleteRow(dayData.number, dataRowIndex);">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


