<comment-box [isDisabled]="!isEditable" #commentbox></comment-box>
<div class="calendar-container">
    <div class="calendar-slider p-2">
        <div class="calendar-slider-left">
           <i  class="fa fa-arrow-left pr-2 cursor-pointer arrow" 
               (click)="changeMonth('previous')"
               aria-hidden="true"></i>
        </div>
        <div class="calendar-slider-period">
               {{period}}
        </div>
        <div class="calendar-slider-right">
            <div class="w-50">
                <i  class="fa fa-arrow-right pl-2 cursor-pointer arrow" 
                    (click)="changeMonth('next')"
                    aria-hidden="true"></i>
            </div>
           <div class="save-container">
                <span class="save" 
                    (click)="saveCalendar();"
                    [ngClass]="(isInitComplete && isCalDataValid() && isEditable) ? '' : 'save-error'"></span>
           </div>
        </div>
    </div>
    <div class="header">
        <div class="date-header-cell-w">
            Dátum
        </div>
        <div class="working-time-header-cell-w">
            Munkaidő
        </div>
        <div class="project-header-cell-w">
            Projekt
        </div>
        <div class="design-phase-header-cell-w">
            Tervfázis
        </div>
        <div class="structural-element-header-cell-w">
            Szerkezeti&nbsp;elem
        </div>
        <div class="subtask-header-cell-w">
            Részfeladat
        </div>
        <div class="comment-header-cell-w">
            Megjegyzés
        </div>
        <div class="modify-header-cell-w">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </div>
    </div>
    <div class="calendar-content">
        <table cellspacing="0" cellpadding="0">
            <tbody>
                <tr *ngFor="let dayData of daysOfMonth; last as isLast;" 
                    [ngStyle]="{'background-color': dayData.backgroundColor}">
                    <!-- Dátum cella -->
                    <td class="date-cell date-cell-w"
                        [ngClass]="isLast ? 'last-tr-left' : ''">
                        <div class="day" 
                             [ngStyle]="dayData.name === 'szombat' ? { 'background-color': 'rgb(130, 130, 130)', color: 'rgb(235, 235, 235)' } : dayData.name === 'vasárnap' ? { 'background-color': 'rgb(130, 130, 130)', color: 'rgb(186, 4, 4)' } : {}"
                             [ngClass]="isLast ? 'last-tr-left' : ''">
                            <div class="day-number">{{dayData.number}}.</div>
                            <div class="day-name" [ngStyle]="dayData.name === 'vasárnap' ? { 'font-weight': 'bold' } : {}">{{dayData.name}}</div>
                        </div>
                    </td>
                    <!-- Munkaidő cella -->
                    <td class="working-time-cell-w">
                        <table>
                            <tr *ngFor="let cellData of calendarData[dayData.number]; index as dataRowIndex;">
                                <td>
                                    <div>
                                        <formatted-time value="{{cellData.workingTime}}"
                                                        [dataPosition]="{'dayNumber': dayData.number, 'dataIndex': dataRowIndex}"
                                                        [isDisabled]="!isEditable">
                                        </formatted-time>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Projekt cella -->
                    <td>
                        <table>
                            <tr *ngFor="let cellData of calendarData[dayData.number];">
                                <td>
                                    <div>
                                        <span>{{cellData.project}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Tervfázis cella -->
                    <td>
                        <table>
                            <tr *ngFor="let cellData of calendarData[dayData.number];">
                                <td>
                                    <div>
                                        <span>{{cellData.designPhase}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Szerkezeti elem cella -->
                    <td >
                        <table>
                            <tr *ngFor="let cellData of calendarData[dayData.number];">
                                <td>
                                    <div>
                                        <span>{{cellData.structuralElement}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Részfeladat cella -->
                    <td >
                        <table>
                            <tr *ngFor="let cellData of calendarData[dayData.number];">
                                <td>
                                    <div>
                                        <span>{{cellData.subtask}}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Megjegyzés cella -->
                    <td class="comment-cell-w">
                        <table>
                            <tr *ngFor="let cellData of calendarData[dayData.number]; index as dataRowIndex;">
                                <td>
                                    <div *ngIf="cellData.comment && cellData.length != 0">
                                        <i  [ngClass]="isEditable ? 'cursor-pointer' : ''"
                                            class="fa fa-comment" 
                                            aria-hidden="true"
                                            (mouseenter)="previewComment({'dayNumber': dayData.number, dataIndex: dataRowIndex}, $event);" 
                                            (mouseleave)="hideComment();"
                                            (click)="editComment({'dayNumber': dayData.number, dataIndex: dataRowIndex}, $event);"></i>
                                    </div>
                                    <div *ngIf="!cellData.comment || cellData.length == 0">
                                        <i  [ngClass]="isEditable ? 'cursor-pointer' : ''"
                                            class="fa fa-comment-o" 
                                            aria-hidden="true"
                                            (click)="editComment({'dayNumber': dayData.number, dataIndex: dataRowIndex}, $event);"></i>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <!-- Szerkesztés cella -->
                    <td class="modify-cell modify-cell-w"
                        [ngClass]="isLast ? 'last-tr-right' : ''">
                        <table>
                            <tr *ngFor="let cellData of calendarData[dayData.number]; index as dataRowIndex; last as isLastRow; count as rowCount;">
                                <td>
                                    <div class="modify">
                                        <div class="m-auto modify-add cursor-pointer" 
                                                [ngClass]="!isEditable || !isLastRow ? 'modify-disabled' : ''"
                                                (click)="isEditable && isLastRow ? addEmptyRow(dayData.number) : null;">
                                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="m-auto modify-delete cursor-pointer"
                                                [ngClass]="!isEditable || rowCount === 1 ? 'modify-disabled' : ''"
                                                (click)="isEditable && rowCount != 1 ? deleteRow(dayData.number, dataRowIndex) : null;">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


