
html, body {
    background-color: rgb(231, 231, 231);
}

.h-max {
    height: calc( 100vh - 70px );
    overflow-y: auto;
}


.component-content-container {
    height: calc(100% - 0.5rem);
    display: relative;
}

.modal-holder{
  animation-name: open;
  animation-duration: 0.3s;
}

@keyframes open {
  0%   {transform: scale(0.5)}
  100% {transform: scale(1)}
}