
html, body {
    background-color: rgb(231, 231, 231);
}

.h-max {
    height: calc( 100vh - 70px );
    overflow-y: auto;
}


.component-content-container {
    height: calc(100% - 0.5rem);
    display: relative;
}

.modal-holder{
  animation-name: open;
  animation-duration: 0.3s;
}

@keyframes open {
  0%   {transform: scale(0.5)}
  100% {transform: scale(1)}
}


/*--- User modal ---*/
.user-modal .modal-dialog {
  width: 350px;
  margin: auto;
}

.user-modal .mat-form-field-hint-spacer {
  display: none;
}

.user-modal .mat-form-field-flex > .mat-form-field-infix { 
  padding: 0.4em 0px !important;
}

.user-modal .mat-form-field-flex > .mat-form-field-suffix { 
  padding: 0.3em 0px !important;
}

.user-modal .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: -0.25em !important;
}

.user-modal .mat-form-field-label-wrapper { 
  top: -1.5em; 
}

.user-modal .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.user-modal .mat-form-field-flex:hover i {
  color: rgb(0, 0, 0) !important;
}

.user-modal .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color:rgb(66, 134, 244); 
}

.user-modal .mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(66, 134, 244);
  background-color:rgb(66, 134, 244);
}

.user-modal .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(39, 0, 148, 0.747);
}


.confirm-modal-discard .modal-dialog {
  width: 445px;
  margin: auto;
}

.confirm-modal-delete .modal-dialog {
  width: 320px;
  margin: auto;
}