
html, body {
    background-color: rgb(231, 231, 231);
}

.h-max {
    height: calc( 100vh - 70px );
    overflow-y: auto;
}

.component-content-container {
    height: calc(100% - 0.5rem);
}


ngb-popover-window{
    width: 270px !important;
    box-shadow: 5px 10px 18px #7a7a7a;
    border-radius: 10px !important;
}

ngb-popover-window .popover-header {
    background-color: rgb(209, 209, 209) !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid rgb(73, 73, 73);
    border-bottom: 2px solid  rgb(154, 154, 154);
}

ngb-popover-window .popover-body {
    background-color: rgb(241, 241, 241) !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 1px solid rgb(73, 73, 73); 
    border-left: 1px solid rgb(73, 73, 73); 
    border-right: 1px solid rgb(73, 73, 73);
}

.green-snackbar {
    background: rgb(18, 172, 75) !important;
    color: white !important;
}


.cdk-overlay-container {
    z-index: 10000 !important;
}

ngx-spinner div {
    z-index: 9999 !important;
}
