.list-container {
    display: flex; 
    flex-direction: column;
    width: 100%; 
    height: 100%; 
}

.header {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0px;
    z-index: 100;
    width: 100%; 
    height: 50px; 
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgb(255, 255, 255);
}

.header .col-title {
    padding-left: 10px; 
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.479); 
    font-weight: 700;
    font-size: 18px;
    white-space: nowrap;
}

.seq {
    width: 50px;
}

.add-user {
    width: 50px;  
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    cursor: pointer;
    color: rgb(65, 65, 65);
}

.add-user:hover, .modify:hover {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.479); 
    color: rgb(0, 0, 0);
}

.list-content {
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    padding-top: 5px; 
    padding-bottom: 5px;
}

.no-data {
    display: flex; 
    flex-direction: row; 
    padding-left: 10px; 
    height: 50px; 
    margin-top: 10px; 
    border: 3px solid  rgb(211, 141, 11); 
    border-radius: 15px; 
    background-color: rgb(255, 242, 217);
}

.no-data i{
    color: rgb(255, 166, 0); 
    font-size: 32px; 
    align-self: center;
}

.no-data span{
    font-weight: 600; 
    font-size: 26px; 
    padding-left: 10px; 
    align-self: center;
}

.list-content .user-row {
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    min-height: 50px; 
    height: 50px; 
    align-items: center;
    cursor: pointer;
}

.list-content .user-row:hover {
    background-color: rgb(148, 182, 255) !important;
}

.cell {
    padding-left: 10px; 
    font-size: 16px;
}

.name {
    font-weight: 600;
}

.modify-user {
    width: 50px;  
    text-align: center;
}

.modify {
    font-size: 24px; 
    vertical-align: middle;
    color: rgb(65, 65, 65);
}