<div #commentbox
     (clickOutside)="isEditing && !isEditFromIcon ? hide() : ''"
     (mouseenter)="SetCommentInFocus(true);"
     (mouseleave)="SetCommentInFocus(false);"
     class="comment-box-container"
     [ngStyle]="{'left':  boxPosition.x + 'px', 'top': boxPosition.y + 'px', 'visibility': isVisible ? 'initial' : 'hidden'}" >
    <div class="comment-box">

        <div class="comment-box-content">
            <h5 class="comment-box-header">Megjegyzés</h5>
            <div class="comment-container">
                <textarea   [hidden]="isPreview"
                            #textarea
                            class="comment"
                            (keydown)="autosize();"
                            (keyup)="autosize();"
                            (blur)="autosize();"
                            (mouseup)="onMouseEvent(-1);"
                            (mousedown)="onMouseEvent(1);"
                            (clickOutside)="onClickOutside();"
                            [(ngModel)]=value
                            (ngModelChange)="updateValue($event);"></textarea>
                <div [hidden]="!isPreview"
                     class="comment preview"
                     (click)="switchToEdit();">{{value}}</div>
            </div>
            <div class="text-right">
                <button *ngIf="!isPreview" 
                        class="btn btn-secondary btn-sm comment-close-button" 
                        (click)="hide();" >
                        Bezárás
                </button>
            </div>
        </div>
        <div class="triangle"
             [ngClass]="boxPosition.triangle + '-triangle'"></div>
        <div class="triangle-border"
             [ngClass]="boxPosition.triangle + '-triangle-border'"></div>
    </div>
</div>

